MONGO_URI=mongodb://localhost:27017/
DB_NAME=fleet_db
SECRET_KEY=clave-secreta-para-jwt-super-segura-12345

MINIO_ENDPOINT=localhost:9002
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=changeme
MINIO_SECURE=false

REDIS_URL=redis://localhost:6379/0
